#
##### Standard python packages #####
beautifulsoup4~=4.12.2
geopy~=2.4.1
html5lib~=1.1
matplotlib~=3.8.2
numpy~=1.26.3
openpyxl~=3.1.2
pandas~=2.1.4
pyyaml~=6.0.1
requests~=2.31.0
scipy~=1.11.4
seaborn~=0.13.1
tabulate~=0.9.0
urllib3~=2.1.0
xlrd~=2.0.1
xlsxwriter~=3.1.9

#pvlib
# conda install -c pvlib pvlib
# https://pvlib-python.readthedocs.io/en/stable/installation.html
#
##### git repos #####
# pvlib
git+https://github.com/pvlib/pvlib-python.git
#
##### Other stuff #####
# Install numba to speed up solar power calculation:
#    http://numba.pydata.org/#installing
